name: Deploy

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: "mysql:8"
                env:
                    MYSQL_ROOT_PASSWORD: "${{ secrets.CONNECTION_PASSWORD }}"
                ports:
                    - "3306:3306"
                options: >-
                    --health-cmd="mysqladmin ping" --health-interval=10s
                    --health-timeout=5s --health-retries=3
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - uses: c-hive/gha-yarn-cache@v2
              with:
                directory: backend

            - name: Prepare common .env
              run: >
                  echo 'PORT = ${{ secrets.PORT }}' >> ./backend/src/.env

                  echo 'SECRET_KEY = ${{ secrets.SECRET_KEY }}' >> ./backend/src/.env

                  echo 'FIREBASE_SERVICE_CONFIG = ${{ secrets.FIREBASE_SERVICE_CONFIG }}' >> ./backend/src/.env

                  echo 'FIREBASE_STORAGE_BUCKET = ${{ secrets.FIREBASE_STORAGE_BUCKET }}' >> ./backend/src/.env
            - name: Prepare .env.test
              run: >
                  cp backend/src/.env backend/src/.env.test

                  echo 'CONNECTION_HOST = localhost' >> backend/src/.env.test

                  echo 'CONNECTION_USER = root' >> backend/src/.env.test

                  echo 'CONNECTION_PASSWORD = ${{ secrets.CONNECTION_PASSWORD}}' >> backend/src/.env.test

                  echo 'CONNECTION_DATABASE = testDb' >> backend/src/.env.test
                  
            - name: Setup test database schema
              run: >
                  mysql --host 127.0.0.1 --port 3306 -uroot -p${{ secrets.CONNECTION_PASSWORD }} -e "create database 'testDb'"

            - name: Install dependencies
              run: cd backend && yarn
 
            - name: Run test
              run: cd backend && yarn test
 
            - name: Build staging
              run: cd backend && yarn build
 
            - uses: akhileshns/heroku-deploy@v3.12.12
              # if: github.ref != 'refs/heads/master'
              with:
                  heroku_api_key: "${{secrets.HEROKU_API_KEY}}"
                  heroku_app_name: benspace
                  heroku_email: barkoafrasah@gmail.coms
                  appdir: backend/build
